#contact {
  min-height: 70vh;
  background-color: $color1;
  width: 100%;
  height: 100%;

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    > h2 {
      text-align: center;
      font: 100 2.7rem $text2;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin: 2rem;
    }

    > input,
    > textarea,
    > button {
      padding: 0.8rem;
      width: 40%;
      outline: none;
      font: 400 0.9rem $text2;
      text-transform: lowercase;

      margin: 1rem;
      border: none;
    }

    > textarea {
      height: 10vh;
      resize: none;
    }

    > button {
      cursor: pointer;
      background-color: $color5;
      color: $color4;
      font: 400 1.2rem $text2;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin: 3rem;
      padding: 1rem 0;
      &:hover {
        background-color: $color5_1;
      }
    }

    > a {
      display: block;
      width: 40%;
      cursor: pointer;
      text-align: center;
      background-color: $color5;
      color: $color4;
      font: 400 1.2rem $text2;
      letter-spacing: 4px;
      text-transform: uppercase;
      padding: 1rem 0;
      margin: 3rem;
      &:hover {
        background-color: $color5_1;
      }
    }
  }
}
