footer {
    min-height: 100px;
    background-color: $color1;
    color: $color4;
    padding: 2rem 0;

    align-items: center;
    justify-items: center;
    text-align: center;

    > div {
        width: 100%;

        > h2 > a {
            margin: 1rem;
            font: 100 1.5rem $text2;
            cursor: pointer;
            color: $color5;

            &:hover {
                transition: all 0.3s;
                color: $color3_light;
            }
        }

    }
}