$text1: "Roboto", sans-serif;
$text2: "Open Sans", sans-serif;

$color1: #e4e6eb;
$color2: #286f6c;
$color2_1: #174340;
$color3: #1c62e4;
$color3_1: #0240b4;
$color3_light: rgb(249, 141, 141);
$color4: #fff;
$color5: #292b46;
$color6: #161616;
$color6_1: #16161698;
$color6_2: #16161622;
$color7: #b3bdd4;

$p: 13.33vmax;